# Node.js
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/src/public/

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
Backend/venv/
Backend/.env

# Local Data
Backend/uploads/
Backend/heatmaps/
Backend/static/uploads/
Backend/static/heatmaps/

# IDEs
.vscode/
.idea/

# Misc
*.log
.DS_Store
search_results.csv

# Scratch / temp
Backend/scratch/
static/
